body {
  background-color: #1c1c1c;
  font-family: 'Fira Code', Courier, monospace;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.bordered {
  border: 1px solid #7b68ee;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #7c4dff;
}

.flag {
  width: 30px;
  height: 15px;
}

.load-span {
  margin-left: 15px;
  color: #ffffff;
}

.search {
  margin-top: 35px;
  margin-bottom: 35px;
}

.search-btn {
  margin-left: 15px;
  background-color: #7c4dff;
}

.search-msg {
  font-size: 1.5rem;
}

.user {
  background-color: #363636;
}

.username {
  color: #ffffff;
}

input {
  color: #ffffff;
}

.main-title {
  color: #7c4dff;
}

.country-title {
  color: #ffffff;
}

.footer-text {
  color: #7c4dff;
}

.footer-name {
  color: #ffffff;
}
